<!doctype html>

<nav class="navbar bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://cdn.shopify.com/s/files/1/0359/6409/2554/files/Untitled_design_c5d52110-2041-4457-907b-1727fe3b49ba_600x600@2x.png?v=1641234304" alt="Bootstrap" width="400" height="400">
      </a>
    </div>
  </nav>
  <nav class="navbar bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://lh3.googleusercontent.com/p/AF1QipPAxNgz4iBv6NpmDfpdKwaCPEw3BPwW1CD61zpH=w1080-h608-p-no-v0" alt="Bootstrap" width="600" height="400">
      </a>
    </div>
  </nav>